body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1549px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1549px;
  height:96px;
  background:inherit;
  background-color:rgba(0, 157, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3850 {
  position:absolute;
  left:0px;
  top:0px;
  width:1549px;
  height:96px;
}
#u3851 {
  position:absolute;
  left:2px;
  top:40px;
  width:1545px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u3852 {
  position:absolute;
  left:31px;
  top:21px;
  width:97px;
  height:67px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u3853 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3855 {
  position:absolute;
  left:0px;
  top:96px;
  width:1200px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3856 {
  position:absolute;
  left:2px;
  top:32px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3857 {
  position:absolute;
  left:865px;
  top:114px;
  width:137px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3858 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u3859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u3859 {
  position:absolute;
  left:1026px;
  top:106px;
  width:60px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3860 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3861 {
  position:absolute;
  left:1123px;
  top:126px;
  width:46px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3862 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u3863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3863 {
  position:absolute;
  left:933px;
  top:140px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3864 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u3865 {
  position:absolute;
  left:24px;
  top:111px;
  width:145px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u3866 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u3867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3867 {
  position:absolute;
  left:24px;
  top:142px;
  width:138px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3868 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u3870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:802px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3870 {
  position:absolute;
  left:0px;
  top:234px;
  width:160px;
  height:802px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3871 {
  position:absolute;
  left:2px;
  top:393px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3872 {
  position:absolute;
  left:0px;
  top:234px;
  width:160px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3873 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u3874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:858px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3874 {
  position:absolute;
  left:160px;
  top:235px;
  width:1223px;
  height:858px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3875 {
  position:absolute;
  left:2px;
  top:421px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3876 {
  position:absolute;
  left:0px;
  top:293px;
  width:160px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3877 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u3878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3878 {
  position:absolute;
  left:44px;
  top:479px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3879 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3880 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3881 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3882 {
  position:absolute;
  left:0px;
  top:519px;
  width:160px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3883 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u3884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u3884 {
  position:absolute;
  left:123px;
  top:543px;
  width:10px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3885 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3886 {
  position:absolute;
  left:44px;
  top:597px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3887 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3888 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3889 {
  position:absolute;
  left:0px;
  top:641px;
  width:160px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3890 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u3891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u3891 {
  position:absolute;
  left:134px;
  top:665px;
  width:10px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3892 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3893 {
  position:absolute;
  left:51px;
  top:720px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3894 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3895 {
  position:absolute;
  left:42px;
  top:755px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3896 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u3897 {
  position:absolute;
  left:123px;
  top:317px;
  width:10px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3898 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3899 {
  position:absolute;
  left:0px;
  top:175px;
  width:1382px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3900 {
  position:absolute;
  left:2px;
  top:22px;
  width:1378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3901 {
  position:absolute;
  left:44px;
  top:363px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3902 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3903 {
  position:absolute;
  left:44px;
  top:404px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3904 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3905 {
  position:absolute;
  left:44px;
  top:441px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3906 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3907 {
  position:absolute;
  left:51px;
  top:790px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3908 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3909 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3910 {
  position:absolute;
  left:0px;
  top:837px;
  width:160px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3911 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u3912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u3912 {
  position:absolute;
  left:134px;
  top:861px;
  width:10px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3913 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3914 {
  position:absolute;
  left:51px;
  top:916px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3915 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3916 {
  position:absolute;
  left:42px;
  top:951px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3917 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3918 {
  position:absolute;
  left:51px;
  top:986px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3919 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3920 {
  position:absolute;
  left:25px;
  top:196px;
  width:304px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3921 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  white-space:nowrap;
}
#u3922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3922 {
  position:absolute;
  left:306px;
  top:256px;
  width:96px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3923 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u3924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3924 {
  position:absolute;
  left:306px;
  top:286px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3925 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3926 {
  position:absolute;
  left:306px;
  top:316px;
  width:120px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3927 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u3928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3928 {
  position:absolute;
  left:444px;
  top:256px;
  width:66px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3929 {
  position:absolute;
  left:2px;
  top:1px;
  width:62px;
  word-wrap:break-word;
}
#u3930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3930 {
  position:absolute;
  left:654px;
  top:346px;
  width:140px;
  height:40px;
}
#u3931 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u3932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u3932 {
  position:absolute;
  left:235px;
  top:346px;
  width:140px;
  height:40px;
  color:#169BD5;
}
#u3933 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u3934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#169BD5;
}
#u3934 {
  position:absolute;
  left:374px;
  top:346px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#169BD5;
}
#u3935 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u3936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u3936 {
  position:absolute;
  left:513px;
  top:346px;
  width:140px;
  height:40px;
  color:#169BD5;
}
#u3937 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u3938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u3938 {
  position:absolute;
  left:794px;
  top:346px;
  width:140px;
  height:40px;
  color:#169BD5;
}
#u3939 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u3940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3940 {
  position:absolute;
  left:527px;
  top:256px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3941 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u3942 {
  position:absolute;
  left:226px;
  top:256px;
  width:70px;
  height:70px;
}
#u3943 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3944 {
  position:absolute;
  left:936px;
  top:256px;
  width:95px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3945 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  word-wrap:break-word;
}
#u3946 {
  position:absolute;
  left:240px;
  top:428px;
  width:746px;
  height:236px;
}
#u3947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u3947 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3948 {
  position:absolute;
  left:2px;
  top:20px;
  width:54px;
  word-wrap:break-word;
}
#u3949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:58px;
}
#u3949 {
  position:absolute;
  left:58px;
  top:0px;
  width:130px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3950 {
  position:absolute;
  left:2px;
  top:20px;
  width:126px;
  word-wrap:break-word;
}
#u3951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:58px;
}
#u3951 {
  position:absolute;
  left:188px;
  top:0px;
  width:148px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3952 {
  position:absolute;
  left:2px;
  top:20px;
  width:144px;
  word-wrap:break-word;
}
#u3953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:58px;
}
#u3953 {
  position:absolute;
  left:336px;
  top:0px;
  width:94px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3954 {
  position:absolute;
  left:2px;
  top:20px;
  width:90px;
  word-wrap:break-word;
}
#u3955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:58px;
}
#u3955 {
  position:absolute;
  left:430px;
  top:0px;
  width:99px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3956 {
  position:absolute;
  left:2px;
  top:20px;
  width:95px;
  word-wrap:break-word;
}
#u3957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:58px;
}
#u3957 {
  position:absolute;
  left:529px;
  top:0px;
  width:105px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3958 {
  position:absolute;
  left:2px;
  top:11px;
  width:101px;
  word-wrap:break-word;
}
#u3959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:58px;
}
#u3959 {
  position:absolute;
  left:634px;
  top:0px;
  width:107px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3960 {
  position:absolute;
  left:2px;
  top:20px;
  width:103px;
  word-wrap:break-word;
}
#u3961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:100px;
}
#u3961 {
  position:absolute;
  left:0px;
  top:58px;
  width:58px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3962 {
  position:absolute;
  left:2px;
  top:41px;
  width:54px;
  word-wrap:break-word;
}
#u3963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:100px;
}
#u3963 {
  position:absolute;
  left:58px;
  top:58px;
  width:130px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3964 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u3965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:100px;
}
#u3965 {
  position:absolute;
  left:188px;
  top:58px;
  width:148px;
  height:100px;
  text-align:center;
}
#u3966 {
  position:absolute;
  left:2px;
  top:29px;
  width:144px;
  word-wrap:break-word;
}
#u3967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:100px;
}
#u3967 {
  position:absolute;
  left:336px;
  top:58px;
  width:94px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3968 {
  position:absolute;
  left:2px;
  top:41px;
  width:90px;
  word-wrap:break-word;
}
#u3969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:100px;
}
#u3969 {
  position:absolute;
  left:430px;
  top:58px;
  width:99px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3970 {
  position:absolute;
  left:2px;
  top:41px;
  width:95px;
  word-wrap:break-word;
}
#u3971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:100px;
}
#u3971 {
  position:absolute;
  left:529px;
  top:58px;
  width:105px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3972 {
  position:absolute;
  left:2px;
  top:41px;
  width:101px;
  word-wrap:break-word;
}
#u3973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:100px;
}
#u3973 {
  position:absolute;
  left:634px;
  top:58px;
  width:107px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3974 {
  position:absolute;
  left:2px;
  top:32px;
  width:103px;
  word-wrap:break-word;
}
#u3975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:73px;
}
#u3975 {
  position:absolute;
  left:0px;
  top:158px;
  width:58px;
  height:73px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3976 {
  position:absolute;
  left:2px;
  top:28px;
  width:54px;
  word-wrap:break-word;
}
#u3977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:73px;
}
#u3977 {
  position:absolute;
  left:58px;
  top:158px;
  width:130px;
  height:73px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3978 {
  position:absolute;
  left:2px;
  top:18px;
  width:126px;
  word-wrap:break-word;
}
#u3979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:73px;
}
#u3979 {
  position:absolute;
  left:188px;
  top:158px;
  width:148px;
  height:73px;
  text-align:center;
}
#u3980 {
  position:absolute;
  left:2px;
  top:16px;
  width:144px;
  word-wrap:break-word;
}
#u3981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:73px;
}
#u3981 {
  position:absolute;
  left:336px;
  top:158px;
  width:94px;
  height:73px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3982 {
  position:absolute;
  left:2px;
  top:28px;
  width:90px;
  word-wrap:break-word;
}
#u3983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:73px;
}
#u3983 {
  position:absolute;
  left:430px;
  top:158px;
  width:99px;
  height:73px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3984 {
  position:absolute;
  left:2px;
  top:28px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:73px;
}
#u3985 {
  position:absolute;
  left:529px;
  top:158px;
  width:105px;
  height:73px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3986 {
  position:absolute;
  left:2px;
  top:28px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:73px;
}
#u3987 {
  position:absolute;
  left:634px;
  top:158px;
  width:107px;
  height:73px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3988 {
  position:absolute;
  left:2px;
  top:28px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
