body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:602px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u5343 {
  position:absolute;
  left:9px;
  top:76px;
  width:618px;
  height:602px;
}
#u5344 {
  position:absolute;
  left:2px;
  top:293px;
  width:614px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5345 {
  position:absolute;
  left:177px;
  top:172px;
  width:239px;
  height:25px;
}
#u5345_input {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5346 {
  position:absolute;
  left:88px;
  top:173px;
  width:48px;
  height:20px;
}
#u5347 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u5348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5348 {
  position:absolute;
  left:82px;
  top:446px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5349 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5350 {
  position:absolute;
  left:239px;
  top:600px;
  width:116px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5351 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u5352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5352 {
  position:absolute;
  left:587px;
  top:93px;
  width:10px;
  height:16px;
}
#u5353 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u5354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:2px;
}
#u5354 {
  position:absolute;
  left:9px;
  top:561px;
  width:618px;
  height:1px;
}
#u5355 {
  position:absolute;
  left:2px;
  top:-8px;
  width:614px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:2px;
}
#u5356 {
  position:absolute;
  left:9px;
  top:134px;
  width:671px;
  height:1px;
}
#u5357 {
  position:absolute;
  left:2px;
  top:-8px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5358 {
  position:absolute;
  left:88px;
  top:215px;
  width:62px;
  height:20px;
}
#u5359 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u5360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:77px;
}
#u5360 {
  position:absolute;
  left:177px;
  top:215px;
  width:100px;
  height:77px;
}
#u5361 {
  position:absolute;
  left:2px;
  top:30px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u5362 {
  position:absolute;
  left:287px;
  top:222px;
  width:75px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u5363 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u5364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u5364 {
  position:absolute;
  left:390px;
  top:228px;
  width:109px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u5365 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u5366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5366 {
  position:absolute;
  left:426px;
  top:173px;
  width:59px;
  height:20px;
  color:#999999;
}
#u5367 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5368 {
  position:absolute;
  left:53px;
  top:317px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5369 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u5370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5370 {
  position:absolute;
  left:77px;
  top:371px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5371 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5372 {
  position:absolute;
  left:177px;
  top:371px;
  width:303px;
  height:25px;
}
#u5372_input {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5373 {
  position:absolute;
  left:177px;
  top:317px;
  width:136px;
  height:25px;
}
#u5373_input {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5373_ann {
  position:absolute;
  left:306px;
  top:313px;
  width:1px;
  height:1px;
}
#u5374 {
  position:absolute;
  left:344px;
  top:317px;
  width:136px;
  height:25px;
}
#u5374_input {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5374_ann {
  position:absolute;
  left:473px;
  top:313px;
  width:1px;
  height:1px;
}
#u5375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:2px;
}
#u5375 {
  position:absolute;
  left:321px;
  top:329px;
  width:13px;
  height:1px;
}
#u5376 {
  position:absolute;
  left:2px;
  top:-8px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5377 {
  position:absolute;
  left:49px;
  top:93px;
  width:105px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5378 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u5379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5379 {
  position:absolute;
  left:102px;
  top:493px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5380 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5381 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(135, 208, 104, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u5382 {
  position:absolute;
  left:171px;
  top:445px;
  width:70px;
  height:22px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u5383 {
  position:absolute;
  left:8px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u5384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5384 {
  position:absolute;
  left:215px;
  top:447px;
  width:23px;
  height:18px;
  text-align:left;
}
#u5385 {
  position:absolute;
  left:8px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5386 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u5387 {
  position:absolute;
  left:167px;
  top:493px;
  width:71px;
  height:22px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u5388 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u5389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5389 {
  position:absolute;
  left:170px;
  top:495px;
  width:23px;
  height:18px;
  text-align:left;
}
#u5390 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5391 {
  position:absolute;
  left:271px;
  top:447px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5392 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5393 {
  position:absolute;
  left:271px;
  top:493px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5394 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
