body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:844px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:528px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u5975 {
  position:absolute;
  left:9px;
  top:76px;
  width:671px;
  height:528px;
}
#u5976 {
  position:absolute;
  left:2px;
  top:256px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5977 {
  position:absolute;
  left:177px;
  top:172px;
  width:239px;
  height:25px;
}
#u5977_input {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5978 {
  position:absolute;
  left:88px;
  top:173px;
  width:48px;
  height:20px;
}
#u5979 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u5980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5980 {
  position:absolute;
  left:253px;
  top:533px;
  width:116px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5981 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u5982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5982 {
  position:absolute;
  left:587px;
  top:93px;
  width:10px;
  height:16px;
}
#u5983 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u5984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:2px;
}
#u5984 {
  position:absolute;
  left:9px;
  top:496px;
  width:671px;
  height:1px;
}
#u5985 {
  position:absolute;
  left:2px;
  top:-8px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:2px;
}
#u5986 {
  position:absolute;
  left:9px;
  top:134px;
  width:671px;
  height:1px;
}
#u5987 {
  position:absolute;
  left:2px;
  top:-8px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5988 {
  position:absolute;
  left:88px;
  top:215px;
  width:62px;
  height:20px;
}
#u5989 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u5990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:77px;
}
#u5990 {
  position:absolute;
  left:177px;
  top:215px;
  width:100px;
  height:77px;
}
#u5991 {
  position:absolute;
  left:2px;
  top:30px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u5992 {
  position:absolute;
  left:287px;
  top:222px;
  width:75px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u5993 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u5994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u5994 {
  position:absolute;
  left:390px;
  top:228px;
  width:109px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u5995 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u5996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5996 {
  position:absolute;
  left:426px;
  top:173px;
  width:59px;
  height:20px;
  color:#999999;
}
#u5997 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5998 {
  position:absolute;
  left:77px;
  top:316px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5999 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6000 {
  position:absolute;
  left:177px;
  top:316px;
  width:303px;
  height:25px;
}
#u6000_input {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6001 {
  position:absolute;
  left:505px;
  top:319px;
  width:12px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6002 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  visibility:hidden;
  white-space:nowrap;
}
#u6003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6003 {
  position:absolute;
  left:49px;
  top:93px;
  width:105px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6004 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u6005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6005 {
  position:absolute;
  left:79px;
  top:376px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6006 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6007 {
  position:absolute;
  left:104px;
  top:423px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6008 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(135, 208, 104, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u6010 {
  position:absolute;
  left:168px;
  top:375px;
  width:70px;
  height:22px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u6011 {
  position:absolute;
  left:8px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u6012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6012 {
  position:absolute;
  left:212px;
  top:377px;
  width:23px;
  height:18px;
  text-align:left;
}
#u6013 {
  position:absolute;
  left:8px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6014 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u6015 {
  position:absolute;
  left:164px;
  top:423px;
  width:71px;
  height:22px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u6016 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u6017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6017 {
  position:absolute;
  left:167px;
  top:425px;
  width:23px;
  height:18px;
  text-align:left;
}
#u6018 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6019 {
  position:absolute;
  left:268px;
  top:377px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6020 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6021 {
  position:absolute;
  left:268px;
  top:423px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6022 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:129px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6023 {
  position:absolute;
  left:696px;
  top:423px;
  width:148px;
  height:129px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6024 {
  position:absolute;
  left:10px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u6025 {
  position:absolute;
  left:339px;
  top:433px;
  width:0px;
  height:0px;
}
#u6025_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:275px;
  height:8px;
}
#u6025_seg1 {
  position:absolute;
  left:267px;
  top:-27px;
  width:8px;
  height:31px;
}
#u6025_seg2 {
  position:absolute;
  left:267px;
  top:-27px;
  width:168px;
  height:8px;
}
#u6025_seg3 {
  position:absolute;
  left:427px;
  top:-27px;
  width:8px;
  height:17px;
}
#u6025_seg4 {
  position:absolute;
  left:421px;
  top:-23px;
  width:20px;
  height:20px;
}
#u6026 {
  position:absolute;
  left:184px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6027 {
  position:absolute;
  left:696px;
  top:305px;
  width:148px;
  height:90px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6028 {
  position:absolute;
  left:10px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u6029 {
  position:absolute;
  left:339px;
  top:387px;
  width:0px;
  height:0px;
}
#u6029_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:275px;
  height:8px;
}
#u6029_seg1 {
  position:absolute;
  left:267px;
  top:-101px;
  width:8px;
  height:105px;
}
#u6029_seg2 {
  position:absolute;
  left:267px;
  top:-101px;
  width:168px;
  height:8px;
}
#u6029_seg3 {
  position:absolute;
  left:427px;
  top:-101px;
  width:8px;
  height:19px;
}
#u6029_seg4 {
  position:absolute;
  left:421px;
  top:-95px;
  width:20px;
  height:20px;
}
#u6030 {
  position:absolute;
  left:221px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
