body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1549px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1549px;
  height:96px;
  background:inherit;
  background-color:rgba(0, 157, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3605 {
  position:absolute;
  left:0px;
  top:0px;
  width:1549px;
  height:96px;
}
#u3606 {
  position:absolute;
  left:2px;
  top:40px;
  width:1545px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u3607 {
  position:absolute;
  left:31px;
  top:21px;
  width:97px;
  height:67px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u3608 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3610 {
  position:absolute;
  left:0px;
  top:96px;
  width:1200px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3611 {
  position:absolute;
  left:2px;
  top:32px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3612 {
  position:absolute;
  left:865px;
  top:114px;
  width:137px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3613 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u3614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u3614 {
  position:absolute;
  left:1026px;
  top:106px;
  width:60px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3615 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3616 {
  position:absolute;
  left:1123px;
  top:126px;
  width:46px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3617 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u3618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3618 {
  position:absolute;
  left:933px;
  top:140px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3619 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u3620 {
  position:absolute;
  left:24px;
  top:111px;
  width:145px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u3621 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u3622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3622 {
  position:absolute;
  left:24px;
  top:142px;
  width:138px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3623 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u3625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:802px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3625 {
  position:absolute;
  left:0px;
  top:234px;
  width:160px;
  height:802px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3626 {
  position:absolute;
  left:2px;
  top:393px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3627 {
  position:absolute;
  left:0px;
  top:234px;
  width:160px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3628 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u3629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:858px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3629 {
  position:absolute;
  left:160px;
  top:235px;
  width:1223px;
  height:858px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3630 {
  position:absolute;
  left:2px;
  top:421px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3631 {
  position:absolute;
  left:0px;
  top:293px;
  width:160px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3632 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u3633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3633 {
  position:absolute;
  left:44px;
  top:479px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3634 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3635 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3636 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3637 {
  position:absolute;
  left:0px;
  top:519px;
  width:160px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3638 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u3639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u3639 {
  position:absolute;
  left:123px;
  top:543px;
  width:10px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3640 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3641 {
  position:absolute;
  left:44px;
  top:597px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3642 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3643 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3644 {
  position:absolute;
  left:0px;
  top:641px;
  width:160px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3645 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u3646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u3646 {
  position:absolute;
  left:134px;
  top:665px;
  width:10px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3647 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3648 {
  position:absolute;
  left:51px;
  top:720px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3649 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3650 {
  position:absolute;
  left:42px;
  top:755px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3651 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u3652 {
  position:absolute;
  left:123px;
  top:317px;
  width:10px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3653 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3654 {
  position:absolute;
  left:0px;
  top:175px;
  width:1382px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3655 {
  position:absolute;
  left:2px;
  top:22px;
  width:1378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3656 {
  position:absolute;
  left:44px;
  top:363px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3657 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3658 {
  position:absolute;
  left:44px;
  top:404px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3659 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3660 {
  position:absolute;
  left:44px;
  top:441px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3661 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3662 {
  position:absolute;
  left:51px;
  top:790px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3663 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3664 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3665 {
  position:absolute;
  left:0px;
  top:837px;
  width:160px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3666 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u3667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u3667 {
  position:absolute;
  left:134px;
  top:861px;
  width:10px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3668 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3669 {
  position:absolute;
  left:51px;
  top:916px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3670 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3671 {
  position:absolute;
  left:42px;
  top:951px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3672 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3673 {
  position:absolute;
  left:51px;
  top:986px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3674 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:42px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u3675 {
  position:absolute;
  left:234px;
  top:396px;
  width:509px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u3676 {
  position:absolute;
  left:16px;
  top:11px;
  width:491px;
  word-wrap:break-word;
}
#u3677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:153px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3677 {
  position:absolute;
  left:234px;
  top:437px;
  width:509px;
  height:153px;
  font-size:14px;
  text-align:left;
}
#u3678 {
  position:absolute;
  left:16px;
  top:68px;
  width:491px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:42px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3679 {
  position:absolute;
  left:781px;
  top:396px;
  width:485px;
  height:42px;
  font-size:14px;
  text-align:left;
}
#u3680 {
  position:absolute;
  left:16px;
  top:11px;
  width:467px;
  word-wrap:break-word;
}
#u3681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:153px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3681 {
  position:absolute;
  left:781px;
  top:437px;
  width:485px;
  height:153px;
  font-size:14px;
  text-align:left;
}
#u3682 {
  position:absolute;
  left:16px;
  top:68px;
  width:467px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3683 {
  position:absolute;
  left:25px;
  top:196px;
  width:376px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3684 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  white-space:nowrap;
}
#u3685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u3685 {
  position:absolute;
  left:215px;
  top:256px;
  width:70px;
  height:70px;
}
#u3686 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3687 {
  position:absolute;
  left:306px;
  top:256px;
  width:96px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3688 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u3689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3689 {
  position:absolute;
  left:306px;
  top:286px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3690 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3691 {
  position:absolute;
  left:306px;
  top:316px;
  width:120px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3692 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u3693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3693 {
  position:absolute;
  left:444px;
  top:256px;
  width:66px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3694 {
  position:absolute;
  left:2px;
  top:1px;
  width:62px;
  word-wrap:break-word;
}
#u3695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3695 {
  position:absolute;
  left:234px;
  top:346px;
  width:140px;
  height:40px;
}
#u3696 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u3697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u3697 {
  position:absolute;
  left:374px;
  top:346px;
  width:140px;
  height:40px;
  color:#169BD5;
}
#u3698 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u3699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u3699 {
  position:absolute;
  left:514px;
  top:346px;
  width:140px;
  height:40px;
  color:#169BD5;
}
#u3700 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u3701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u3701 {
  position:absolute;
  left:654px;
  top:346px;
  width:140px;
  height:40px;
  color:#169BD5;
}
#u3702 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u3703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u3703 {
  position:absolute;
  left:794px;
  top:346px;
  width:140px;
  height:40px;
  color:#169BD5;
}
#u3704 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u3705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3705 {
  position:absolute;
  left:259px;
  top:475px;
  width:77px;
  height:29px;
  font-size:18px;
}
#u3706 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u3707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3707 {
  position:absolute;
  left:278px;
  top:510px;
  width:49px;
  height:25px;
  font-size:18px;
}
#u3708 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3709 {
  position:absolute;
  left:408px;
  top:476px;
  width:77px;
  height:29px;
  font-size:18px;
}
#u3710 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u3711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3711 {
  position:absolute;
  left:419px;
  top:510px;
  width:49px;
  height:25px;
  font-size:18px;
}
#u3712 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3713 {
  position:absolute;
  left:569px;
  top:476px;
  width:113px;
  height:29px;
  font-size:18px;
}
#u3714 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  white-space:nowrap;
}
#u3715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3715 {
  position:absolute;
  left:593px;
  top:510px;
  width:49px;
  height:25px;
  font-size:18px;
}
#u3716 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3717 {
  position:absolute;
  left:816px;
  top:477px;
  width:77px;
  height:29px;
  font-size:18px;
}
#u3718 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u3719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3719 {
  position:absolute;
  left:835px;
  top:512px;
  width:49px;
  height:25px;
  font-size:18px;
}
#u3720 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3721 {
  position:absolute;
  left:965px;
  top:478px;
  width:77px;
  height:29px;
  font-size:18px;
}
#u3722 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u3723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3723 {
  position:absolute;
  left:976px;
  top:512px;
  width:49px;
  height:25px;
  font-size:18px;
}
#u3724 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3725 {
  position:absolute;
  left:1126px;
  top:478px;
  width:113px;
  height:29px;
  font-size:18px;
}
#u3726 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  white-space:nowrap;
}
#u3727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3727 {
  position:absolute;
  left:1150px;
  top:512px;
  width:49px;
  height:25px;
  font-size:18px;
}
#u3728 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u3729 {
  position:absolute;
  left:835px;
  top:547px;
  width:61px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u3730 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u3731 {
  position:absolute;
  left:976px;
  top:547px;
  width:61px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u3732 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u3733 {
  position:absolute;
  left:1144px;
  top:547px;
  width:61px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u3734 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:42px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3735 {
  position:absolute;
  left:234px;
  top:621px;
  width:485px;
  height:42px;
  font-size:14px;
  text-align:left;
}
#u3736 {
  position:absolute;
  left:16px;
  top:11px;
  width:467px;
  word-wrap:break-word;
}
#u3737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:153px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3737 {
  position:absolute;
  left:234px;
  top:662px;
  width:485px;
  height:153px;
  font-size:14px;
  text-align:left;
}
#u3738 {
  position:absolute;
  left:16px;
  top:68px;
  width:467px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3739 {
  position:absolute;
  left:269px;
  top:702px;
  width:77px;
  height:29px;
  font-size:18px;
}
#u3740 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u3741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3741 {
  position:absolute;
  left:288px;
  top:737px;
  width:49px;
  height:25px;
  font-size:18px;
}
#u3742 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3743 {
  position:absolute;
  left:418px;
  top:703px;
  width:77px;
  height:29px;
  font-size:18px;
}
#u3744 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u3745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3745 {
  position:absolute;
  left:429px;
  top:737px;
  width:49px;
  height:25px;
  font-size:18px;
}
#u3746 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3747 {
  position:absolute;
  left:579px;
  top:703px;
  width:113px;
  height:29px;
  font-size:18px;
}
#u3748 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  white-space:nowrap;
}
#u3749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3749 {
  position:absolute;
  left:603px;
  top:737px;
  width:49px;
  height:25px;
  font-size:18px;
}
#u3750 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u3751 {
  position:absolute;
  left:288px;
  top:772px;
  width:61px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u3752 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u3753 {
  position:absolute;
  left:429px;
  top:772px;
  width:61px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u3754 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u3755 {
  position:absolute;
  left:597px;
  top:772px;
  width:61px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u3756 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3757 {
  position:absolute;
  left:527px;
  top:256px;
  width:218px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3758 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
#u3759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3759 {
  position:absolute;
  left:965px;
  top:256px;
  width:95px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3760 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  word-wrap:break-word;
}
#u3761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3761 {
  position:absolute;
  left:444px;
  top:286px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3762 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
