body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1549px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1549px;
  height:96px;
  background:inherit;
  background-color:rgba(0, 157, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1927 {
  position:absolute;
  left:0px;
  top:0px;
  width:1549px;
  height:96px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:40px;
  width:1545px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u1929 {
  position:absolute;
  left:31px;
  top:21px;
  width:97px;
  height:67px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u1930 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1932 {
  position:absolute;
  left:0px;
  top:96px;
  width:1200px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1933 {
  position:absolute;
  left:2px;
  top:32px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1934 {
  position:absolute;
  left:865px;
  top:114px;
  width:137px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1935 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u1936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1936 {
  position:absolute;
  left:1026px;
  top:106px;
  width:60px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1937 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1938 {
  position:absolute;
  left:1123px;
  top:126px;
  width:46px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1940 {
  position:absolute;
  left:933px;
  top:140px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u1942 {
  position:absolute;
  left:24px;
  top:111px;
  width:145px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u1943 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1944 {
  position:absolute;
  left:24px;
  top:142px;
  width:138px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1945 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u1947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:802px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1947 {
  position:absolute;
  left:0px;
  top:234px;
  width:160px;
  height:802px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1948 {
  position:absolute;
  left:2px;
  top:393px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1949 {
  position:absolute;
  left:0px;
  top:234px;
  width:160px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1950 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u1951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:858px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1951 {
  position:absolute;
  left:160px;
  top:235px;
  width:1223px;
  height:858px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1952 {
  position:absolute;
  left:2px;
  top:421px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1953 {
  position:absolute;
  left:0px;
  top:293px;
  width:160px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1954 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u1955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1955 {
  position:absolute;
  left:44px;
  top:479px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1956 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1959 {
  position:absolute;
  left:0px;
  top:519px;
  width:160px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1960 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u1961 {
  position:absolute;
  left:123px;
  top:543px;
  width:10px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1962 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1963 {
  position:absolute;
  left:44px;
  top:597px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1964 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1966 {
  position:absolute;
  left:0px;
  top:641px;
  width:160px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1967 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u1968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u1968 {
  position:absolute;
  left:134px;
  top:665px;
  width:10px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1969 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1970 {
  position:absolute;
  left:51px;
  top:720px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1971 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1972 {
  position:absolute;
  left:42px;
  top:755px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1973 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u1974 {
  position:absolute;
  left:123px;
  top:317px;
  width:10px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1975 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1976 {
  position:absolute;
  left:0px;
  top:175px;
  width:1382px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1977 {
  position:absolute;
  left:2px;
  top:22px;
  width:1378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1978 {
  position:absolute;
  left:44px;
  top:363px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1979 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1980 {
  position:absolute;
  left:44px;
  top:404px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1981 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1982 {
  position:absolute;
  left:44px;
  top:441px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1983 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1984 {
  position:absolute;
  left:51px;
  top:790px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1985 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1987 {
  position:absolute;
  left:0px;
  top:837px;
  width:160px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1988 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u1989 {
  position:absolute;
  left:134px;
  top:861px;
  width:10px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1990 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1991 {
  position:absolute;
  left:51px;
  top:916px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1992 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1993 {
  position:absolute;
  left:42px;
  top:951px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1994 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1995 {
  position:absolute;
  left:51px;
  top:986px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1996 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1997 {
  position:absolute;
  left:25px;
  top:196px;
  width:304px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1998 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  white-space:nowrap;
}
#u1999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1999 {
  position:absolute;
  left:306px;
  top:256px;
  width:96px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2000 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u2001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2001 {
  position:absolute;
  left:306px;
  top:286px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2002 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2003 {
  position:absolute;
  left:306px;
  top:316px;
  width:120px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u2005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2005 {
  position:absolute;
  left:444px;
  top:256px;
  width:66px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2006 {
  position:absolute;
  left:2px;
  top:1px;
  width:62px;
  word-wrap:break-word;
}
#u2007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2007 {
  position:absolute;
  left:792px;
  top:346px;
  width:140px;
  height:40px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u2009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u2009 {
  position:absolute;
  left:235px;
  top:346px;
  width:140px;
  height:40px;
  color:#169BD5;
}
#u2010 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u2011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#169BD5;
}
#u2011 {
  position:absolute;
  left:374px;
  top:346px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#169BD5;
}
#u2012 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u2013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u2013 {
  position:absolute;
  left:513px;
  top:346px;
  width:140px;
  height:40px;
  color:#169BD5;
}
#u2014 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u2015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u2015 {
  position:absolute;
  left:652px;
  top:346px;
  width:140px;
  height:40px;
  color:#169BD5;
}
#u2016 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u2017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2017 {
  position:absolute;
  left:527px;
  top:256px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2018 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2019 {
  position:absolute;
  left:226px;
  top:256px;
  width:70px;
  height:70px;
}
#u2020 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2021 {
  position:absolute;
  left:936px;
  top:256px;
  width:95px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2022 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  word-wrap:break-word;
}
#u2023 {
  position:absolute;
  left:235px;
  top:437px;
  width:915px;
  height:242px;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:58px;
}
#u2024 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2025 {
  position:absolute;
  left:2px;
  top:20px;
  width:72px;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:58px;
}
#u2026 {
  position:absolute;
  left:76px;
  top:0px;
  width:90px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2027 {
  position:absolute;
  left:2px;
  top:20px;
  width:86px;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:58px;
}
#u2028 {
  position:absolute;
  left:166px;
  top:0px;
  width:87px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2029 {
  position:absolute;
  left:2px;
  top:20px;
  width:83px;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:58px;
}
#u2030 {
  position:absolute;
  left:253px;
  top:0px;
  width:112px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2031 {
  position:absolute;
  left:2px;
  top:20px;
  width:108px;
  word-wrap:break-word;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:58px;
}
#u2032 {
  position:absolute;
  left:365px;
  top:0px;
  width:64px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2033 {
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u2034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:58px;
}
#u2034 {
  position:absolute;
  left:429px;
  top:0px;
  width:81px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2035 {
  position:absolute;
  left:2px;
  top:20px;
  width:77px;
  word-wrap:break-word;
}
#u2036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u2036 {
  position:absolute;
  left:510px;
  top:0px;
  width:58px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2037 {
  position:absolute;
  left:2px;
  top:20px;
  width:54px;
  word-wrap:break-word;
}
#u2038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:58px;
}
#u2038 {
  position:absolute;
  left:568px;
  top:0px;
  width:69px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2039 {
  position:absolute;
  left:2px;
  top:20px;
  width:65px;
  word-wrap:break-word;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:58px;
}
#u2040 {
  position:absolute;
  left:637px;
  top:0px;
  width:65px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2041 {
  position:absolute;
  left:2px;
  top:20px;
  width:61px;
  word-wrap:break-word;
}
#u2042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:58px;
}
#u2042 {
  position:absolute;
  left:702px;
  top:0px;
  width:78px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2043 {
  position:absolute;
  left:2px;
  top:20px;
  width:74px;
  word-wrap:break-word;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:58px;
}
#u2044 {
  position:absolute;
  left:780px;
  top:0px;
  width:63px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2045 {
  position:absolute;
  left:2px;
  top:20px;
  width:59px;
  word-wrap:break-word;
}
#u2046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:58px;
}
#u2046 {
  position:absolute;
  left:843px;
  top:0px;
  width:67px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2047 {
  position:absolute;
  left:2px;
  top:20px;
  width:63px;
  word-wrap:break-word;
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:87px;
}
#u2048 {
  position:absolute;
  left:0px;
  top:58px;
  width:76px;
  height:87px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2049 {
  position:absolute;
  left:2px;
  top:34px;
  width:72px;
  word-wrap:break-word;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:87px;
}
#u2050 {
  position:absolute;
  left:76px;
  top:58px;
  width:90px;
  height:87px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2051 {
  position:absolute;
  left:2px;
  top:26px;
  width:86px;
  word-wrap:break-word;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:87px;
}
#u2052 {
  position:absolute;
  left:166px;
  top:58px;
  width:87px;
  height:87px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2053 {
  position:absolute;
  left:2px;
  top:26px;
  width:83px;
  word-wrap:break-word;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:87px;
}
#u2054 {
  position:absolute;
  left:253px;
  top:58px;
  width:112px;
  height:87px;
  text-align:center;
}
#u2055 {
  position:absolute;
  left:2px;
  top:14px;
  width:108px;
  word-wrap:break-word;
}
#u2056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
}
#u2056 {
  position:absolute;
  left:365px;
  top:58px;
  width:64px;
  height:87px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2057 {
  position:absolute;
  left:2px;
  top:34px;
  width:60px;
  word-wrap:break-word;
}
#u2058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:87px;
}
#u2058 {
  position:absolute;
  left:429px;
  top:58px;
  width:81px;
  height:87px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2059 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:87px;
}
#u2060 {
  position:absolute;
  left:510px;
  top:58px;
  width:58px;
  height:87px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2061 {
  position:absolute;
  left:2px;
  top:34px;
  width:54px;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:87px;
}
#u2062 {
  position:absolute;
  left:568px;
  top:58px;
  width:69px;
  height:87px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2063 {
  position:absolute;
  left:2px;
  top:34px;
  width:65px;
  word-wrap:break-word;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:87px;
}
#u2064 {
  position:absolute;
  left:637px;
  top:58px;
  width:65px;
  height:87px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2065 {
  position:absolute;
  left:2px;
  top:34px;
  width:61px;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:87px;
}
#u2066 {
  position:absolute;
  left:702px;
  top:58px;
  width:78px;
  height:87px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2067 {
  position:absolute;
  left:2px;
  top:26px;
  width:74px;
  word-wrap:break-word;
}
#u2068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:87px;
}
#u2068 {
  position:absolute;
  left:780px;
  top:58px;
  width:63px;
  height:87px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2069 {
  position:absolute;
  left:2px;
  top:26px;
  width:59px;
  word-wrap:break-word;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:87px;
}
#u2070 {
  position:absolute;
  left:843px;
  top:58px;
  width:67px;
  height:87px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#3399FF;
  text-align:center;
}
#u2071 {
  position:absolute;
  left:2px;
  top:34px;
  width:63px;
  word-wrap:break-word;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:92px;
}
#u2072 {
  position:absolute;
  left:0px;
  top:145px;
  width:76px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2073 {
  position:absolute;
  left:2px;
  top:37px;
  width:72px;
  word-wrap:break-word;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:92px;
}
#u2074 {
  position:absolute;
  left:76px;
  top:145px;
  width:90px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2075 {
  position:absolute;
  left:2px;
  top:28px;
  width:86px;
  word-wrap:break-word;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:92px;
}
#u2076 {
  position:absolute;
  left:166px;
  top:145px;
  width:87px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2077 {
  position:absolute;
  left:2px;
  top:28px;
  width:83px;
  word-wrap:break-word;
}
#u2078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:92px;
}
#u2078 {
  position:absolute;
  left:253px;
  top:145px;
  width:112px;
  height:92px;
  text-align:center;
}
#u2079 {
  position:absolute;
  left:2px;
  top:16px;
  width:108px;
  word-wrap:break-word;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:92px;
}
#u2080 {
  position:absolute;
  left:365px;
  top:145px;
  width:64px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2081 {
  position:absolute;
  left:2px;
  top:37px;
  width:60px;
  word-wrap:break-word;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:92px;
}
#u2082 {
  position:absolute;
  left:429px;
  top:145px;
  width:81px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2083 {
  position:absolute;
  left:2px;
  top:19px;
  width:77px;
  word-wrap:break-word;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:92px;
}
#u2084 {
  position:absolute;
  left:510px;
  top:145px;
  width:58px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2085 {
  position:absolute;
  left:2px;
  top:37px;
  width:54px;
  word-wrap:break-word;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:92px;
}
#u2086 {
  position:absolute;
  left:568px;
  top:145px;
  width:69px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2087 {
  position:absolute;
  left:2px;
  top:37px;
  width:65px;
  word-wrap:break-word;
}
#u2088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:92px;
}
#u2088 {
  position:absolute;
  left:637px;
  top:145px;
  width:65px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2089 {
  position:absolute;
  left:2px;
  top:37px;
  width:61px;
  word-wrap:break-word;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:92px;
}
#u2090 {
  position:absolute;
  left:702px;
  top:145px;
  width:78px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2091 {
  position:absolute;
  left:2px;
  top:28px;
  width:74px;
  word-wrap:break-word;
}
#u2092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:92px;
}
#u2092 {
  position:absolute;
  left:780px;
  top:145px;
  width:63px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2093 {
  position:absolute;
  left:2px;
  top:28px;
  width:59px;
  word-wrap:break-word;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:92px;
}
#u2094 {
  position:absolute;
  left:843px;
  top:145px;
  width:67px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2095 {
  position:absolute;
  left:2px;
  top:37px;
  width:63px;
  word-wrap:break-word;
}
#u2096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2096 {
  position:absolute;
  left:444px;
  top:286px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2097 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:74px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2098 {
  position:absolute;
  left:235px;
  top:692px;
  width:257px;
  height:74px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2099 {
  position:absolute;
  left:10px;
  top:10px;
  width:237px;
  word-wrap:break-word;
}
