body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1549px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1549px;
  height:96px;
  background:inherit;
  background-color:rgba(0, 157, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8899 {
  position:absolute;
  left:0px;
  top:0px;
  width:1549px;
  height:96px;
}
#u8900 {
  position:absolute;
  left:2px;
  top:40px;
  width:1545px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u8901 {
  position:absolute;
  left:31px;
  top:21px;
  width:97px;
  height:67px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u8902 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8904 {
  position:absolute;
  left:0px;
  top:96px;
  width:1200px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8905 {
  position:absolute;
  left:2px;
  top:32px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8906 {
  position:absolute;
  left:865px;
  top:114px;
  width:137px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8907 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u8908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u8908 {
  position:absolute;
  left:1026px;
  top:106px;
  width:60px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8909 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8910 {
  position:absolute;
  left:1123px;
  top:126px;
  width:46px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8911 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u8912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8912 {
  position:absolute;
  left:933px;
  top:140px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8913 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u8914 {
  position:absolute;
  left:24px;
  top:111px;
  width:145px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u8915 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u8916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8916 {
  position:absolute;
  left:24px;
  top:142px;
  width:138px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8917 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u8919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:802px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8919 {
  position:absolute;
  left:0px;
  top:234px;
  width:160px;
  height:802px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8920 {
  position:absolute;
  left:2px;
  top:393px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8921 {
  position:absolute;
  left:0px;
  top:234px;
  width:160px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8922 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u8923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:858px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8923 {
  position:absolute;
  left:160px;
  top:235px;
  width:1223px;
  height:858px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8924 {
  position:absolute;
  left:2px;
  top:421px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8925 {
  position:absolute;
  left:0px;
  top:293px;
  width:160px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8926 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u8927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8927 {
  position:absolute;
  left:44px;
  top:479px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8928 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8929 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8931 {
  position:absolute;
  left:0px;
  top:519px;
  width:160px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8932 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u8933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u8933 {
  position:absolute;
  left:123px;
  top:543px;
  width:10px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8934 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8935 {
  position:absolute;
  left:44px;
  top:597px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8936 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8937 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8938 {
  position:absolute;
  left:0px;
  top:641px;
  width:160px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8939 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u8940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u8940 {
  position:absolute;
  left:134px;
  top:665px;
  width:10px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8941 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8942 {
  position:absolute;
  left:51px;
  top:720px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8943 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8944 {
  position:absolute;
  left:42px;
  top:755px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8945 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u8946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u8946 {
  position:absolute;
  left:123px;
  top:317px;
  width:10px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8947 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8948 {
  position:absolute;
  left:0px;
  top:175px;
  width:1382px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8949 {
  position:absolute;
  left:2px;
  top:22px;
  width:1378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8950 {
  position:absolute;
  left:44px;
  top:363px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8951 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8952 {
  position:absolute;
  left:44px;
  top:404px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8953 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8954 {
  position:absolute;
  left:44px;
  top:441px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8955 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8956 {
  position:absolute;
  left:51px;
  top:790px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8957 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8959 {
  position:absolute;
  left:0px;
  top:837px;
  width:160px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8960 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u8961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u8961 {
  position:absolute;
  left:134px;
  top:861px;
  width:10px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8962 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8963 {
  position:absolute;
  left:51px;
  top:916px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8964 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8965 {
  position:absolute;
  left:42px;
  top:951px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8966 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u8967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8967 {
  position:absolute;
  left:51px;
  top:986px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8968 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8969 {
  position:absolute;
  left:25px;
  top:196px;
  width:203px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8970 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u8971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u8971 {
  position:absolute;
  left:400px;
  top:393px;
  width:238px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u8972 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  white-space:nowrap;
}
#u8973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:123px;
}
#u8973 {
  position:absolute;
  left:217px;
  top:396px;
  width:173px;
  height:123px;
}
#u8974 {
  position:absolute;
  left:2px;
  top:54px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:21px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8975 {
  position:absolute;
  left:859px;
  top:397px;
  width:38px;
  height:21px;
  color:#FFFFFF;
}
#u8976 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u8977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u8977 {
  position:absolute;
  left:1122px;
  top:395px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u8978 {
  position:absolute;
  left:0px;
  top:6px;
  width:30px;
  word-wrap:break-word;
}
#u8979 {
  position:absolute;
  left:207px;
  top:1534px;
  width:1305px;
  height:226px;
}
#u8980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8980 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8981 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u8982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u8982 {
  position:absolute;
  left:100px;
  top:0px;
  width:99px;
  height:30px;
}
#u8983 {
  position:absolute;
  left:2px;
  top:6px;
  width:95px;
  word-wrap:break-word;
}
#u8984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u8984 {
  position:absolute;
  left:199px;
  top:0px;
  width:101px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8985 {
  position:absolute;
  left:2px;
  top:6px;
  width:97px;
  word-wrap:break-word;
}
#u8986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8986 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8987 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u8988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u8988 {
  position:absolute;
  left:400px;
  top:0px;
  width:99px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8989 {
  position:absolute;
  left:2px;
  top:6px;
  width:95px;
  word-wrap:break-word;
}
#u8990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u8990 {
  position:absolute;
  left:499px;
  top:0px;
  width:101px;
  height:30px;
}
#u8991 {
  position:absolute;
  left:2px;
  top:6px;
  width:97px;
  word-wrap:break-word;
}
#u8992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8992 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8993 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u8994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8994 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8995 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u8996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8996 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8997 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u8998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8998 {
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8999 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u9000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9000 {
  position:absolute;
  left:1000px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9001 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u9002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9002 {
  position:absolute;
  left:1100px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9003 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u9004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9004 {
  position:absolute;
  left:1200px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9005 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u9006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:127px;
}
#u9006 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:127px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u9007 {
  position:absolute;
  left:2px;
  top:54px;
  width:96px;
  word-wrap:break-word;
}
#u9008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:127px;
}
#u9008 {
  position:absolute;
  left:100px;
  top:30px;
  width:99px;
  height:127px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u9009 {
  position:absolute;
  left:2px;
  top:34px;
  width:95px;
  word-wrap:break-word;
}
#u9010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:127px;
}
#u9010 {
  position:absolute;
  left:199px;
  top:30px;
  width:101px;
  height:127px;
}
#u9011 {
  position:absolute;
  left:2px;
  top:56px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:127px;
}
#u9012 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:127px;
  color:#666666;
  text-align:left;
}
#u9013 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u9014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:127px;
}
#u9014 {
  position:absolute;
  left:400px;
  top:30px;
  width:99px;
  height:127px;
}
#u9015 {
  position:absolute;
  left:2px;
  top:46px;
  width:95px;
  word-wrap:break-word;
}
#u9016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:127px;
}
#u9016 {
  position:absolute;
  left:499px;
  top:30px;
  width:101px;
  height:127px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9017 {
  position:absolute;
  left:2px;
  top:36px;
  width:97px;
  word-wrap:break-word;
}
#u9018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:127px;
}
#u9018 {
  position:absolute;
  left:600px;
  top:30px;
  width:100px;
  height:127px;
  text-decoration:underline;
  color:#1B8FF0;
}
#u9019 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u9020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:127px;
}
#u9020 {
  position:absolute;
  left:700px;
  top:30px;
  width:100px;
  height:127px;
}
#u9021 {
  position:absolute;
  left:2px;
  top:56px;
  width:96px;
  word-wrap:break-word;
}
#u9022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:127px;
}
#u9022 {
  position:absolute;
  left:800px;
  top:30px;
  width:100px;
  height:127px;
}
#u9023 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u9024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:127px;
}
#u9024 {
  position:absolute;
  left:900px;
  top:30px;
  width:100px;
  height:127px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9025 {
  position:absolute;
  left:2px;
  top:54px;
  width:96px;
  word-wrap:break-word;
}
#u9026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:127px;
}
#u9026 {
  position:absolute;
  left:1000px;
  top:30px;
  width:100px;
  height:127px;
}
#u9027 {
  position:absolute;
  left:2px;
  top:47px;
  width:96px;
  word-wrap:break-word;
}
#u9028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:127px;
}
#u9028 {
  position:absolute;
  left:1100px;
  top:30px;
  width:100px;
  height:127px;
}
#u9029 {
  position:absolute;
  left:2px;
  top:47px;
  width:96px;
  word-wrap:break-word;
}
#u9030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:127px;
}
#u9030 {
  position:absolute;
  left:1200px;
  top:30px;
  width:100px;
  height:127px;
}
#u9031 {
  position:absolute;
  left:2px;
  top:54px;
  width:96px;
  word-wrap:break-word;
}
#u9032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u9032 {
  position:absolute;
  left:0px;
  top:157px;
  width:100px;
  height:64px;
}
#u9033 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u9034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:64px;
}
#u9034 {
  position:absolute;
  left:100px;
  top:157px;
  width:99px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u9035 {
  position:absolute;
  left:2px;
  top:2px;
  width:95px;
  word-wrap:break-word;
}
#u9036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:64px;
}
#u9036 {
  position:absolute;
  left:199px;
  top:157px;
  width:101px;
  height:64px;
}
#u9037 {
  position:absolute;
  left:2px;
  top:24px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u9038 {
  position:absolute;
  left:300px;
  top:157px;
  width:100px;
  height:64px;
}
#u9039 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:64px;
}
#u9040 {
  position:absolute;
  left:400px;
  top:157px;
  width:99px;
  height:64px;
}
#u9041 {
  position:absolute;
  left:2px;
  top:24px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:64px;
}
#u9042 {
  position:absolute;
  left:499px;
  top:157px;
  width:101px;
  height:64px;
}
#u9043 {
  position:absolute;
  left:2px;
  top:24px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u9044 {
  position:absolute;
  left:600px;
  top:157px;
  width:100px;
  height:64px;
}
#u9045 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u9046 {
  position:absolute;
  left:700px;
  top:157px;
  width:100px;
  height:64px;
}
#u9047 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u9048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u9048 {
  position:absolute;
  left:800px;
  top:157px;
  width:100px;
  height:64px;
}
#u9049 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u9050 {
  position:absolute;
  left:900px;
  top:157px;
  width:100px;
  height:64px;
}
#u9051 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u9052 {
  position:absolute;
  left:1000px;
  top:157px;
  width:100px;
  height:64px;
}
#u9053 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u9054 {
  position:absolute;
  left:1100px;
  top:157px;
  width:100px;
  height:64px;
}
#u9055 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u9056 {
  position:absolute;
  left:1200px;
  top:157px;
  width:100px;
  height:64px;
}
#u9057 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 143, 240, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9058 {
  position:absolute;
  left:207px;
  top:1492px;
  width:200px;
  height:32px;
}
#u9059 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9058_ann {
  position:absolute;
  left:400px;
  top:1488px;
  width:1px;
  height:1px;
}
#u9060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9060 {
  position:absolute;
  left:448px;
  top:1494px;
  width:76px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9061 {
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u9062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u9062 {
  position:absolute;
  left:215px;
  top:1499px;
  width:18px;
  height:18px;
  font-size:12px;
}
#u9063 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9062_ann {
  position:absolute;
  left:226px;
  top:1495px;
  width:1px;
  height:1px;
}
#u9064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u9064 {
  position:absolute;
  left:239px;
  top:1499px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u9065 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u9066 {
  position:absolute;
  left:595px;
  top:1498px;
  width:127px;
  height:22px;
}
#u9066_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9066_input:disabled {
  color:grayText;
}
#u9067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u9067 {
  position:absolute;
  left:442px;
  top:1605px;
  width:31px;
  height:31px;
}
#u9068 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:23px;
}
#u9069 {
  position:absolute;
  left:400px;
  top:422px;
  width:172px;
  height:23px;
  color:#666666;
}
#u9070 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u9071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:116px;
}
#u9071 {
  position:absolute;
  left:758px;
  top:395px;
  width:1px;
  height:115px;
  color:#CCCCCC;
}
#u9072 {
  position:absolute;
  left:2px;
  top:50px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9073 {
  position:absolute;
  left:781px;
  top:398px;
  width:71px;
  height:20px;
}
#u9074 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9075 {
  position:absolute;
  left:400px;
  top:490px;
  width:57px;
  height:20px;
}
#u9076 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9077 {
  position:absolute;
  left:478px;
  top:492px;
  width:33px;
  height:16px;
}
#u9078 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u9079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 143, 240, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9079 {
  position:absolute;
  left:217px;
  top:285px;
  width:200px;
  height:32px;
}
#u9080 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9079_ann {
  position:absolute;
  left:410px;
  top:281px;
  width:1px;
  height:1px;
}
#u9081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9081 {
  position:absolute;
  left:458px;
  top:287px;
  width:99px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9082 {
  position:absolute;
  left:2px;
  top:6px;
  width:95px;
  word-wrap:break-word;
}
#u9083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u9083 {
  position:absolute;
  left:225px;
  top:292px;
  width:18px;
  height:18px;
  font-size:12px;
}
#u9084 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9083_ann {
  position:absolute;
  left:236px;
  top:288px;
  width:1px;
  height:1px;
}
#u9085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u9085 {
  position:absolute;
  left:249px;
  top:292px;
  width:79px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u9086 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u9087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9087 {
  position:absolute;
  left:1056px;
  top:400px;
  width:57px;
  height:20px;
}
#u9088 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:20px;
}
#u9089 {
  position:absolute;
  left:400px;
  top:450px;
  width:341px;
  height:20px;
}
#u9090 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u9091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u9091 {
  position:absolute;
  left:400px;
  top:555px;
  width:238px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u9092 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  white-space:nowrap;
}
#u9093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:123px;
}
#u9093 {
  position:absolute;
  left:217px;
  top:558px;
  width:173px;
  height:123px;
}
#u9094 {
  position:absolute;
  left:2px;
  top:54px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:21px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9095 {
  position:absolute;
  left:859px;
  top:559px;
  width:34px;
  height:21px;
  color:#FFFFFF;
}
#u9096 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u9097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u9097 {
  position:absolute;
  left:1122px;
  top:557px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u9098 {
  position:absolute;
  left:0px;
  top:6px;
  width:30px;
  word-wrap:break-word;
}
#u9099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:23px;
}
#u9099 {
  position:absolute;
  left:400px;
  top:584px;
  width:172px;
  height:23px;
  color:#666666;
}
#u9100 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u9101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:116px;
}
#u9101 {
  position:absolute;
  left:758px;
  top:557px;
  width:1px;
  height:115px;
  color:#CCCCCC;
}
#u9102 {
  position:absolute;
  left:2px;
  top:50px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9103 {
  position:absolute;
  left:781px;
  top:560px;
  width:71px;
  height:20px;
}
#u9104 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9105 {
  position:absolute;
  left:400px;
  top:661px;
  width:57px;
  height:20px;
}
#u9106 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9107 {
  position:absolute;
  left:478px;
  top:663px;
  width:33px;
  height:16px;
}
#u9108 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u9109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9109 {
  position:absolute;
  left:1056px;
  top:562px;
  width:57px;
  height:20px;
}
#u9110 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:20px;
}
#u9111 {
  position:absolute;
  left:400px;
  top:623px;
  width:341px;
  height:20px;
}
#u9112 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u9113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9113 {
  position:absolute;
  left:781px;
  top:442px;
  width:71px;
  height:20px;
}
#u9114 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9115 {
  position:absolute;
  left:862px;
  top:442px;
  width:29px;
  height:21px;
  color:#FFFFFF;
}
#u9116 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9117 {
  position:absolute;
  left:781px;
  top:598px;
  width:71px;
  height:20px;
}
#u9118 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9119 {
  position:absolute;
  left:862px;
  top:598px;
  width:29px;
  height:21px;
  color:#FFFFFF;
}
#u9120 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:21px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9121 {
  position:absolute;
  left:923px;
  top:395px;
  width:38px;
  height:21px;
  color:#FFFFFF;
}
#u9122 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u9123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:21px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9123 {
  position:absolute;
  left:923px;
  top:442px;
  width:52px;
  height:21px;
  color:#FFFFFF;
}
#u9124 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u9125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u9125 {
  position:absolute;
  left:398px;
  top:722px;
  width:238px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u9126 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  white-space:nowrap;
}
#u9127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:123px;
}
#u9127 {
  position:absolute;
  left:215px;
  top:725px;
  width:173px;
  height:123px;
}
#u9128 {
  position:absolute;
  left:2px;
  top:54px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:21px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9129 {
  position:absolute;
  left:857px;
  top:726px;
  width:34px;
  height:21px;
  color:#FFFFFF;
}
#u9130 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u9131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:23px;
}
#u9131 {
  position:absolute;
  left:398px;
  top:751px;
  width:172px;
  height:23px;
  color:#666666;
}
#u9132 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u9133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:116px;
}
#u9133 {
  position:absolute;
  left:756px;
  top:724px;
  width:1px;
  height:115px;
  color:#CCCCCC;
}
#u9134 {
  position:absolute;
  left:2px;
  top:50px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9135 {
  position:absolute;
  left:779px;
  top:727px;
  width:71px;
  height:20px;
}
#u9136 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9137 {
  position:absolute;
  left:398px;
  top:828px;
  width:57px;
  height:20px;
}
#u9138 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9139 {
  position:absolute;
  left:476px;
  top:830px;
  width:33px;
  height:16px;
}
#u9140 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u9141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:20px;
}
#u9141 {
  position:absolute;
  left:398px;
  top:776px;
  width:341px;
  height:20px;
  color:#666666;
}
#u9142 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u9143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9143 {
  position:absolute;
  left:779px;
  top:765px;
  width:71px;
  height:20px;
}
#u9144 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9145 {
  position:absolute;
  left:860px;
  top:765px;
  width:29px;
  height:21px;
  color:#FFFFFF;
}
#u9146 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9147 {
  position:absolute;
  left:1056px;
  top:724px;
  width:57px;
  height:20px;
}
#u9148 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u9149 {
  position:absolute;
  left:1130px;
  top:719px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u9150 {
  position:absolute;
  left:0px;
  top:6px;
  width:30px;
  word-wrap:break-word;
}
